<div class="row">
  <div class="col-md-10">
    <div class="embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="100%" height="600px"
              src="<%= @stream.url %>" scrolling="0" frameborder="0" allowfullscreen="1"></iframe>
    </div>
  </div>

  <div class="col-md-2">
    <p id="current_channel">Showing <%= @channel.name %></p>
    <p><%= link_to "Next channel", {:action => 'show', :id => @channel.next.id } %></p>
  </div>

</div>